In [1]:
yc=[0,1,0,0,0,0,1,1,1,1,0,0,0,0,1,0,1,0,1,1,0,0,0,1,1,0,1,0,1,1,1,1,0,0,0,1,0,1,0,0,1,1,0,1,1,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,1,1,0,0,1,0,1,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,1,1,0,1,0,0,0,1,0,0,0,0,1,0,0,1,1,0,1,0,0,0,1,0,0,0,1,1,0,0,1,0,1,0,1,0,0,0,1,0,0,1,1,0,0,0,1,0,0,1,1,1,0,1,0,1,0,0,0,0,1,0,0,0,1,1,1,1,1,1,1,1,0,1,1,0,0,1,0,0,1,0,1,1,0,0,1,0,0,0,1,0,1,1,1,1,0,1,0,0,0,1,0,1,1,0,0,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,0,0,0,1,1,0,1,0,0,0,0,0,1,0,1,1,1,0,1,1,0,1,1,0,0,0,1,0,0,1,1,0,1,1,0,1,1,1,0,0,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,1,1,0,0,1,1,0,0,1,0,1,0,1,0,0,0,0,0,1,1,0,1,0,0,1,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0,1,0,1,0,0,1,0,0,1,0,1,0,1,1,1,1,0,1,1,0,0,1,0,1,1,1,1,0,0,1,0,1,0,1,0,1,0,0,1,1,0,0,1,0,0,0,1,0,1,1,1,1,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,1,1,1,0,1,1,0,1,1,0,0,1,1,1,0,0,1,0,0,0,0,1,1,1,0,1,1,1,0,1,0,0,0,1,1,0,0,0,1,1,0,0,0,1,0,1,0,1,0,0,0,1,0,0,1,0,1,0,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,1,0,0,1,0,0,0,1,1,1,0,0,1,1,0,0,1,0,0,0,1,0,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1,1,1,0,0,1,0,0,0,0,1,0,0,0,1,0,1,0,0,1,0,1,1,0,1,1,0,1,0,1,0,0,1,0,1,1,0,0,1,1,1,0,0,1,1,0,1,0,0,1,1,1,0,0,0,1,0,1,1,1,1,0,1,0,0,0,0,1,1,1,0,0,0]

In [2]:
import pandas as pd

In [3]:
len(yc)

649

In [4]:
df = pd.read_excel('600085copy.xlsx') 
# 获取DataFrame的行数
n_rows = df.shape[0]
# 计算需要提取的数据行下标
start_row = n_rows - 649
if start_row < 0:
    start_row = 0
# 提取指定行范围的数据  
data = df.iloc[start_row:]
data

,Date,updowm,Close,振幅,涨跌幅,换手率,MA5,MA20,RSV,K,...,RSI6,RSI12,CCI 14,OBV,BOLLMID,BOLLUPPER,BOLLLOWER,Open,High,Low
1512,2021-05-14,1,31.61,12.09,8.55,4.80,28.916,28.3675,89.285714,58.756626,...,79.258638,71.539016,243.255772,19940924,28.3675,30.313658,26.421342,29.02,32.12,28.60
1513,2021-05-17,1,32.16,5.25,1.74,3.54,29.748,28.5745,90.909091,69.474115,...,81.449281,73.464535,233.955971,20425748,28.5745,31.145435,26.003565,31.51,32.64,30.98
1514,2021-05-18,1,35.22,11.01,9.51,4.96,31.174,28.9825,97.037037,78.661755,...,89.120695,81.188858,246.240397,21105947,28.9825,32.819598,25.145402,32.07,35.46,31.92
1515,2021-05-19,1,35.61,3.32,1.11,3.35,32.744,29.3625,96.604215,84.642575,...,89.767847,81.920586,196.528529,21565107,29.3625,34.175329,24.549671,34.92,35.90,34.73
1516,2021-05-20,0,35.65,4.27,0.11,2.58,34.050,29.7370,86.715481,85.333544,...,89.842214,81.998932,157.384902,21919540,29.7370,35.267916,24.206084,35.44,36.92,35.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2156,2024-01-04,0,54.90,1.90,0.46,0.53,54.200,52.4245,80.555556,84.060376,...,79.186993,69.045539,123.824630,25848582,52.4245,54.932126,49.916874,54.58,54.94,53.90
2157,2024-01-05,0,53.80,3.04,-2.00,0.53,54.330,52.5535,54.137116,74.085956,...,54.951124,57.841573,80.582940,25776168,52.5535,55.065671,50.041329,54.65,55.10,53.43
2158,2024-01-08,0,53.46,2.01,-0.63,0.47,54.282,52.6785,43.564356,63.912090,...,49.349025,54.840921,32.139078,25711445,52.6785,55.104120,50.252880,53.65,53.93,52.85
2159,2024-01-09,0,53.21,1.12,-0.47,0.31,54.004,52.7565,34.114583,53.979588,...,45.276279,52.650015,15.125516,25668974,52.7565,55.142876,50.370124,53.25,53.60,53.00
2160,2024-01-10,0,51.36,3.23,-3.48,0.66,53.346,52.6995,1.793722,36.584299,...,26.128048,39.810762,-94.923951,25578331,52.6995,55.164826,50.234174,53.00,53.00,51.28

In [5]:
cols_to_keep = ['Date', 'updowm','Close'] 
# 获取列名索引
indexes = data.columns.get_indexer(cols_to_keep)
# 根据索引筛选列
df1 = data.iloc[:, indexes] 
df1

           Date  updowm  Close
1512 2021-05-14       1  31.61
1513 2021-05-17       1  32.16
1514 2021-05-18       1  35.22
1515 2021-05-19       1  35.61
1516 2021-05-20       0  35.65
...         ...     ...    ...
2156 2024-01-04       0  54.90
2157 2024-01-05       0  53.80
2158 2024-01-08       0  53.46
2159 2024-01-09       0  53.21
2160 2024-01-10       0  51.36

[649 rows x 3 columns]

In [6]:
# 新建一列
df1.insert(1, 'yc',yc) 
# 将列表数据加入新建列
df1.to_excel('ycvs.xlsx',index=False)
df1

           Date  yc  updowm  Close
1512 2021-05-14   0       1  31.61
1513 2021-05-17   1       1  32.16
1514 2021-05-18   0       1  35.22
1515 2021-05-19   0       1  35.61
1516 2021-05-20   0       0  35.65
...         ...  ..     ...    ...
2156 2024-01-04   1       0  54.90
2157 2024-01-05   1       0  53.80
2158 2024-01-08   0       0  53.46
2159 2024-01-09   0       0  53.21
2160 2024-01-10   0       0  51.36

[649 rows x 4 columns]

In [7]:
df1=pd.read_excel('ycvs.xlsx')
df1

          Date  yc  updowm  Close
0   2021-05-14   0       1  31.61
1   2021-05-17   1       1  32.16
2   2021-05-18   0       1  35.22
3   2021-05-19   0       1  35.61
4   2021-05-20   0       0  35.65
..         ...  ..     ...    ...
644 2024-01-04   1       0  54.90
645 2024-01-05   1       0  53.80
646 2024-01-08   0       0  53.46
647 2024-01-09   0       0  53.21
648 2024-01-10   0       0  51.36

[649 rows x 4 columns]

In [8]:
money=0
numtick=10000 #买100手
price= df1['Close'].tolist()
yc=df1['yc'].tolist()
ycmoneytt=[316100]
improve=[0]
zsz=[316100]
for i in range(len(yc)-1):
    if yc[i] == 0:
        todayc=( price[i] - price[i+1] )* numtick
        money = money + todayc
    elif yc[i] == 1:
        todayc=( price[i+1] - price[i] )* numtick
        money = money + todayc
    cc=price[i+1] * numtick
    todaytt = cc + money
    #print(round(todayc))
    #print(round(money))
    zsz.append(round(cc))
    improve.append(round(money))
    ycmoneytt.append(round(todaytt))

In [9]:
df1.insert(4, '策略增强收益',improve) 
df1.insert(5, '使用策略总市值',ycmoneytt) 
df1.insert(6, '仅持有股票总市值',zsz) 
df1

          Date  yc  updowm  Close   策略增强收益  使用策略总市值  仅持有股票总市值
0   2021-05-14   0       1  31.61        0   316100    316100
1   2021-05-17   1       1  32.16    -5500   316100    321600
2   2021-05-18   0       1  35.22    25100   377300    352200
3   2021-05-19   0       1  35.61    21200   377300    356100
4   2021-05-20   0       0  35.65    20800   377300    356500
..         ...  ..     ...    ...      ...      ...       ...
644 2024-01-04   1       0  54.90  2328300  2877300    549000
645 2024-01-05   1       0  53.80  2317300  2855300    538000
646 2024-01-08   0       0  53.46  2313900  2848500    534600
647 2024-01-09   0       0  53.21  2316400  2848500    532100
648 2024-01-10   0       0  51.36  2334900  2848500    513600

[649 rows x 7 columns]

In [10]:
df1.to_excel('ycvs.xlsx',index=False)